
TESTAPP_text/local.properties
TESTAPP_text/local.properties
TESTAPP_text/.idea/modules.xml
TESTAPP_text/local.properties
FLUID_Service/.idea/workspace.xml
TESTAPP_text/.gradle/7.0.2/fileHashes/fileHashes.bin
TESTAPP_text/.gradle/7.0.2/fileHashes/fileHashes.lock
TESTAPP_text/.gradle/buildOutputCleanup/buildOutputCleanup.lock
TESTAPP_text/.gradle/buildOutputCleanup/outputFiles.bin
TESTAPP_text/.idea/misc.xml
TESTAPP_text/.idea/misc.xml
TESTAPP_text/.idea/modules.xml
TESTAPP_text/local.properties
